<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<footer th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<ul class='list-inline text-center'>
					<li class='list-inline-item'>
						<a href='https://www.facebook.com/pg/AikidoAikikaiDaNang.ShindokanDojoVietnam/about/'>
                          <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-facebook fa-stack-1x fa-inverse'></i>
                          </span>
						</a>
					</li>
					<li class='list-inline-item'>
						<a href='https://github.com/Tran-Hoang-Lam/aikidodanang-backend'>
                          <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-github fa-stack-1x fa-inverse'></i>
                          </span>
						</a>
					</li>
				</ul>
				<p class="copyright text-muted">Copyright &copy; Aikido Da Nang 2018</p>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
    <script type="text/javascript">
        jQuery.noConflict();
    </script>
	<script th:src="@{~/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{~/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Custom scripts for this template -->
	<script th:src="@{~/js/clean-blog.min.js}"></script>
</footer>