<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      lang="en">

<head th:replace="fragment/head::head"></head>

<body>
<!-- Navigation -->
<nav th:replace="fragment/nav::nav(nav=${nav})"></nav>

<!-- Page Header -->
<header th:replace="fragment/header::header(header=${header})"></header>

<!-- Main Content -->
<div class="container">
    <div class="row" id="react">
        <div class="col-lg-8 col-md-10 mx-auto">
            <th:block th:each="album : ${albums}">
                <h2 th:text="${album.name}"></h2>
                <div th:id="${album.id}" class="carousel slide" data-ride="carousel" style="width: 100%">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li th:attr="data-target=${'#' + album.id}" th:each="url : ${album.urls}"
                            th:attrappend="data-slide-to=${urlStat.index}"
                            th:class="${urlStat.index} == 0 ? 'active' : ''"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div th:class="${urlStat.index} == 0 ? 'carousel-item active' : 'carousel-item'"
                             th:each="url : ${album.urls}">
                            <img th:src="${url}" style="width: 100%">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" th:href="'#' + ${album.id}" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" th:href="'#' + ${album.id}" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
                <br/>
                <br/>
            </th:block>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:replace="fragment/footer::footer">
</footer>

</body>

</html>
