<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      lang="en">

<head th:replace="fragment/head::head"></head>

<body>

<!-- Main Content -->
<div class="container">
    <div class="row" id="react">
        <div class="col-lg-8 col-md-10 mx-auto" th:if="${previewContent != null}" th:utext="${previewContent}"></div>
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>Add new Album</h2>
            <form method="post" th:action="@{/edit/album}" enctype="multipart/form-data">
                <div class="form-group floating-label-form-group controls">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" placeholder="Name" id="name" name="name"/>
                </div>
                <div class="form-group floating-label-form-group controls">
                    <label for="images">Images</label>
                    <input type="file" id="images" name="images" accept="image/**" multiple/>
                </div>
                <p th:text="${result}"></p>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:replace="fragment/footer::footer">
</footer>

</body>

</html>
