<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      lang="en">

<head th:replace="fragment/head::head"></head>

<body>

<!-- Main Content -->
<div class="container">
    <div class="row" id="react">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a th:href="@{/}">
                    <h2 class="post-title">
                        Oops! Not found
                    </h2>
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:replace="fragment/footer::footer">
</footer>

</body>

</html>
