<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">

<head th:replace="fragment/head::head"></head>

<body>
<!-- Navigation -->
<nav th:replace="fragment/nav::nav(nav=${nav})"></nav>

<!-- Page Header -->
<header th:replace="fragment/header::header(header=${header})"></header>

<!-- Main Content -->
<div class="container">
  <div class="row" id="react">
      <div class="col-lg-8 col-md-10 mx-auto">
          <th:block th:each="post : ${posts}">
              <div class="post-preview">
                  <a th:href="@{/page/article/{title}(title=${post.title})}">
                      <h2 class="post-title" th:text="${post.heading}">
                          Man must explore, and this is exploration at its greatest
                      </h2>
                      <h3 class="post-subtitle" th:text="${post.subHeading}">
                          Problems look mighty small from 150 miles up
                      </h3>
                  </a>
                  <p class="post-meta" th:text="'Posted by ' + ${post.userName}">Posted by Admin</p>
              </div>
              <hr>
          </th:block>
      </div>
  </div>
  </div>
</div>

<hr>

<!-- Footer -->
<footer th:replace="fragment/footer::footer">
</footer>

</body>

</html>
