<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">

<head th:replace="fragment/head::head"></head>

<body class="blog-post">
  <nav th:replace="fragment/nav::nav(navigation=${navigation})"></nav>
  <div class="page-header header-filter purple-filter" data-parallax="true"
       style="background-image: url(https://res.cloudinary.com/dqbdhavya/image/upload/v1527360946/new-aikido-cover.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
              <h1>Aikido Shindokan Đà Nẵng</h1>
              <h3 class="title text-center">Hệ phái Aikikai</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div th:each="article : ${articleList}" class="card card-raised card-background"
                         th:style="'background-image: url(' + ${article.image} +')'">
                        <div class="card-body">
                            <h3 class="card-title" th:text="${article.heading}"></h3>
                            <p class="card-description" th:text="${article.subHeading} + '...'"></p>
                            <a th:href="@{'~/article/' + ${article.title}}" class="btn btn-warning btn-round">
                                <i class="material-icons">subject</i> Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div th:replace="fragment/footer::footer"></div>
</body>

</html>